@tailwind base;
@tailwind components;
@tailwind utilities;

.test {
    border: 1px solid red;
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url('https://images.squarespace-cdn.com/content/v1/59f8a282d0e628da624520dc/1526395057002-QMXGYKQYTTU6D9MZZDDN/Birdbox+interi%C3%B8r+2.jpg');
  }
  .parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .parallax__layer--base {
    transform: translateZ(0);
  }
  .parallax__layer--back {
    transform: translateZ(-1px);
  }